<!DOCTYPE html>
<html>
    <head>
        <title>Temperature Conversion</title>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   
   <body>
        <h1>Temperature Conversion</h1>
        <div ng-app="mainApp" ng-controller="temperatureConverter">
            <h3>Current Scale <span ng-bind="temperature.scale"></span></h3>
            <label for="kelvin">Kelvin:</label>
            <input name="kelvin" type="number" ng-model="temperature.kelvin" ng-change="validate('Kelvin')" value="255.372" step=".001" />
            <label for="celsius">Celsius</label>
            <input name="celsius" type="number" ng-model="temperature.celsius" ng-change="validate('Celsius')" value="-17.778" step=".001" />
            <label for="fahrenheit">Fahrenheit</label>
            <input name="fahrenheit" type="number" ng-model="temperature.fahrenheit" ng-change="validate('Fahrenheit')" value="0" step=".001" />
        </div>

        <script>
            var mainApp = angular.module("mainApp", []);

            mainApp.controller("temperatureConverter", ['$scope', function ($scope) {
                $scope.master = {
                    fahrenheit: 0,
                    celsius: -17.778,
                    kelvin: 255.372
                }

                $scope.reset = function () {
                    $scope.temperature = angular.copy($scope.master);
                };

                $scope.reset();

                $scope.validate = function (strCurrent) {
                    $scope.temperature.scale = strCurrent;

                    if (angular.isNumber($scope.temperature.fahrenheit) && angular.isNumber($scope.temperature.celsius) && angular.isNumber($scope.temperature.celsius)) {
                        if (strCurrent === "Kelvin") {
                            $scope.temperature.celsius = $scope.temperature.kelvin - 273.15;
                            $scope.temperature.fahrenheit = ($scope.temperature.kelvin - 273.15) * 9 / 5 + 32;
                        } else if (strCurrent === "Celsius") {
                            $scope.temperature.fahrenheit = ($scope.temperature.celsius * 9 / 5) + 32;
                            $scope.temperature.kelvin = $scope.temperature.celsius + 273.15;
                        } else if (strCurrent === "Fahrenheit") {
                            $scope.temperature.celsius = ($scope.temperature.fahrenheit - 32) * 5 / 9;
                            $scope.temperature.kelvin = ($scope.temperature.fahrenheit - 32) * 5 / 9 + 273.15;
                        }

                    } else {
                        alert("You have entered an invalid number.");
                    }
                };
            } ]);

        </script>
    </body>
</html>
"Scott Schwab" 
